# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
local.properties
*.local
.env
.env.*
supabase.db
supabase/.branches
supabase/.temp
supabase/.env
supabase/config.toml

# macOS specific files
.DS_Store
